* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

header {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	
	
	background: rgba(130, 200, 117, 0.02);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.7px);
	border: 1px solid rgba(250, 250, 250, 0.49);

}

.logo {
	display: flex;
	align-items: center;
	width: 520px;
	height: 520px;
	margin-top: -110px;
	
}

.parrafo {
	display: flex;
	justify-content:flex-end;
	padding-bottom: 20px;
	align-items: center;
	flex-direction: column;
	width: auto;
	border-radius: 10px;
	background: rgba(130, 200, 117, 0.02);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.7px);
	border: 1px solid rgba(250, 250, 250, 0.49);
	font-family: montserrat;
	color: white;
	font-size: 20px;
	
	


}

.parrafos{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: auto;
	

}

.parrafo-2 {
	display: flex;
	margin: 15px;
	justify-content:flex-end;
	padding-top: 10px;
	padding-bottom: 20px;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	background: rgba(130, 200, 117, 0.02);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.7px);
	border: 1px solid rgba(250, 250, 250, 0.49);
	font-family: montserrat;
	color: white;
	font-size: 18px;
	gap: 1rem;
	padding-left: 12px;
}

.parrafo-3 {
	display: flex;
	margin: 15px;
	justify-content: center;
	justify-content:flex-end;
	padding-top: 10px;
	padding-bottom: 20px;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	background: rgba(130, 200, 117, 0.02);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(4.7px);
	border: 1px solid rgba(250, 250, 250, 0.49);
	font-family: montserrat;
	color: white;
	font-size: 18px;
	gap: 1rem;
	padding-left: 12px;
}

.parrafo-4 {
	display: flex;
	margin: 15px;
	justify-content:flex-end;
	padding-top: 10px;
	padding-bottom: 20px;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	background: rgba(130, 200, 117, 0.02);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.7px);
	border: 1px solid rgba(250, 250, 250, 0.49);
	font-family: montserrat;
	color: white;
	font-size: 18px;
	gap: 1rem;
	padding-left: 12px;
}

.infinity{
	margin-bottom: -30px;
}


.pages {
	display: flex;
	align-items: center;
	gap: 2rem;
	text-decoration: none;

}

a {
	text-decoration: none;
	font-family: montserrat;
	color: white;
	font-size: 18px;
}

a:hover {
	font-size: 25px;
	animation-delay: 3s;
}


body {
	background-image: url("../assets/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: #18191f;  */
	width: 100%;
}

main{
	min-height: 85vh;
	
}

.wrapper span {
	position: fixed;
	bottom: -180px;
	height: 50px;
	width: 50px;
	border-radius: 30%;
	z-index: -2;
	background-color: #18191f;
	box-shadow: 0 0 40px #F2D02C, 0 0 100px #4FDAD7, 0 0 100px #F2D02C, 0 0 150px #4FDAD7;
	animation: animate 30s linear infinite;
}

.wrapper span:nth-child(1) {
	left: 60px;
	animation-delay: 0.6s;
	background-color: #5EF2E9;
}


.wrapper span:nth-child(2) {
	left: 10%;
	animation-delay: 3s;
	width: 60px;
	height: 60px;
	background-color: #F2D02C;
}

.wrapper span:nth-child(3) {
	left: 20%;
	animation-delay: 2s;
	background-color: #5EF2E9;
}

.wrapper span:nth-child(4) {
	left: 30%;
	animation-delay: 5s;
	width: 80px;
	height: 80px;
	background-color: #F2D02C;

}

.wrapper span:nth-child(5) {
	left: 40%;
	animation-delay: 1s;
	background-color: #5EF2E9;
}

.wrapper span:nth-child(6) {
	left: 50%;
	animation-delay: 8s;
	background-color: #F2D02C;
}

.wrapper span:nth-child(7) {
	left: 60%;
	animation-delay: 6s;
	width: 100px;
	height: 100px;
	background-color: #5EF2E9;
}

.wrapper span:nth-child(8) {
	left: 70%;
	animation-delay: 8s;
	background-color: #F2D02C;

}

.wrapper span:nth-child(9) {
	left: 80%;
	animation-delay: 16s;
	width: 90px;
	height: 90px;
	background-color: #5EF2E9;
}

.wrapper span:nth-child(10) {
	left: 90%;
	animation-delay: 4s;
	background-color: #F2D02C;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
}

@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}

	80% {
		opacity: .7;
	}

	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}



footer {
	min-height: 15vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: monospace;
	font-size: 15px;
}